.slidesName {
  margin: 10px;
  background-color: black;
  color: white;
   flex-direction: column;
   justify-content: center;
   padding-left: 30px;
}
@media (max-width: 900px){
.pets img{
width: 100%;

}
}
